*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    display: flex;
    color: white;
    align-items: center;
}

.nav-logo{
    height: 50px;
    width:100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.address1{
    font-size: 0.85rem;
    color: #ccc;
    margin-left: 20px;
}
.address2{
    font-size: 1rem;
    font-style: Bold;
    color: #fff;
    margin-left: 5px;
}

.deliveryIcon{
    display:flex
}
.nav-search{
    display: flex;
}